.travel__subtitle {
  margin: 32px auto 0;
  padding: 0;
  max-width: 600px;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 1.2;
  text-align: center;
  color: #fff;
}


@media screen and (max-width: 690px) {
  .travel__subtitle {
    max-width: 400px;
    font-size: 22px;
    line-height: 1.25;
  }
}

@media screen and (max-width: 365px) {
  .travel__subtitle {
    margin: 16px auto 0;
    max-width: 288px;
    font-size: 16px;
  }
}

