.places__title {
  max-width: 460px;
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 1.06;
  color: #fff;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 1120px) {
  .places__title {
    font-size: 63px;
  }
}

@media screen and (max-width: 1024px) {
  .places__title{
    max-width: 440px;
    font-size: 72px;
  }
}

@media screen and (max-width: 910px) {
  .places__title{
    max-width: 440px;
    font-size: 58px;
  }
}

@media screen and (max-width: 768px) {
  .places__title {
    max-width: 340px;
    font-size: 42px;
    line-height: 1.1;
  }
}

@media screen and (max-width: 320px) {
  .places__title {
    max-width: 288px;
    font-size: 32px;
    line-height: 1.09;
    margin: 0 0 0 16px;
  }
}
