.introduction {
  padding: 92px 148px 0;
  max-width: 1280px;
  margin: 0 auto;
  box-sizing: border-box;
}

@media screen and (max-width: 1024px) {
  .introduction {
    max-width: 1024px;
    padding: 92px 48px 0;
  }
}

@media screen and (max-width: 768px) {
  .introduction {
    max-width: 768px;
    padding: 88px 24px 0;
  }
}

@media screen and (max-width: 320px) {
  .introduction {
    min-width: 320px;
    padding: 64px 16px 0;
  }
}
