.footer__copyright {
  max-width: 186px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.14;
  color: #fff;
  margin: 0;
  padding: 0;
  text-align: right;
}

@media screen and (max-width: 635px) {
  .footer__copyright {
    margin-top: 48px;
    text-align: start;
    line-height: 1;
  }
}
