.places__information {
  max-width: 484px;
  display: flex;
  flex-direction: column;
  margin-left: 40px;
}

@media screen and (max-width: 1024px) {
  .places__information{
    max-width: 456px;
    margin-left: 32px;
  }
}

@media screen and (max-width: 768px) {
  .places__information {
    max-width: 340px;
    margin-left: 28px;
  }
}

@media screen and (max-width: 635px) {
  .places__information {
    max-width: 100%;
    margin: 32px 0 0 0;
  }
}

@media screen and (max-width: 320px) {
  .places__information {
    max-width: 288px;
    margin: 32px 16px 0;
  }
}
